header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #E7EAF1;
    background-color: #fff;
    z-index: 10;
    margin: 0 auto;
    top: 0;
}

.row {
    max-width: 1600px;
    /* width: 100%; */
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
}

.header_top {
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: center;
    background-color: #eef2f7;
}

.view_div {
    display: flex;
    max-width: 1200px;
    align-items: center;
    flex: 1;
    flex-grow: 1;
}

.icon_flag {
    width: 24px;
    height: 24px;
    padding-left: 16px;
    padding-right: 16px;
}

.text_wrapper {
    position: relative;
    width: fit-content;
    margin-top: -0.50px;
    font-weight: 400;
    color: #1e2124;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 150%;
    white-space: nowrap;
    font-style: normal;
}

.header_middle {
    height: 50px;
    background-color: #02346B;
    display: flex;
    align-items: center;
}

.header_middle .row {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.head_login {
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #fff;
}

.head_login::after {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    opacity: 0.8;
    display: inline-block;
    margin-left: 20px;
}

.head_join {
    font-size: 1rem;
    line-height: 24px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    margin-right: 0;
    color: #fff;
}

.header_bottom {
    box-sizing: border-box;
}

.header_bottom .row {
    width: 98%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.row h1 {
    font-size: 12px;
    font-weight: normal;
}

.row h1 a {
    width: 245px;
    display: flex;
    align-items: center;
    height: 46px;
}

.row h1 a img {
    width: 100%;
}

.header_menu {
    display: flex;
    align-items: center;
}

.header_step1 {
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 50px;
}

.header_step1 a {
    font-size: 19px;
    padding: 36px 0;
    cursor: pointer;
}

.header_step1 ul {
    background-color: #fff;
    position: absolute;
    top: 100px;
    text-align: center;
    display: none;
    z-index: 1;
    width: 220px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    overflow: hidden;
}

.header__step2 {
    border-top: 1px solid #ECECEC;
    border-bottom: none;
    border-top: none;
}

.header__step2 a {
    padding: 16px;
    cursor: pointer;
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.header_step01 {

}

.header_step01 button {
    width: 52px;
    height: 52px;
    border-radius: 52px;
}

.grid.top {
    padding-top: 230px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

#slide_banner {
        width: 63%;
    max-height: 500px;
}

.swiper_container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    border-radius: 14px;
}

.swiper_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}

.swiper_slide {
    width: 1012px;
    display: flex;
    height: 500px;
    object-fit: fill;
    flex-shrink: 0;
}

.swiper_link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.pc_main {
    width: 100%;
    height: 500px;
    max-height: 673px;
    object-fit: fill;
}

.control_box {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    max-width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5rem;
    border-radius: 10px 10px 0px 0px;
}

.swiper_button_prev {
    width: 23px;
    height: 23px;
    position: static;
    background: url("/img/slide_prev.png")no-repeat 100% / cover;;
}

.swiper_pagination {
    position: static !important;
    display: inline-block;
    vertical-align: bottom;
}

.swiper_pagination_bullet_active {
    background: #fff;
    border: 1px solid #fff;
}

.swiper_pagination_bullet {
    cursor: pointer;
    display: inline-block;
    border-radius: 100%;
    background: #ccc;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    opacity: 1;
    margin: 0 5px;
    background-color: transparent;
}

.play_control {
    display: inline-block;
    vertical-align: bottom;
}

.swiper_start_button {
    position: relative;
    text-indent: -9999px;
    width: 23px;
    height: 23px;
    display: none;
}

.swiper_start_button::before {
     content: '';
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/img/slide_pause.png")no-repeat 100% / cover;
}

.swiper_paused_button {
    display: block;
    position: relative;
    text-indent: -9999px;
    width: 23px;
    height: 23px;
    /* display: none; */
}

.swiper_paused_button::before {
    content: '';
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/img/slide_play.png")no-repeat 100% / cover;
}

.swiper_button_next {
    width: 23px;
    height: 23px;
    position: static;
    background: url("/img/slide_next.png")no-repeat 100% / cover;;
}

#loginForm {
    width: 33%;
    max-height: 500px;
    margin-bottom: 80px;
}

.container {
    position: relative;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 80px;
}

.container_form {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title_img_logo {
    width: 120px;
    height: 120px;
    text-align: center;
}

.title_img {
    width: 150px;
    height: 60px;
    text-align: center;
}

.title_text {
    font-family: 'UhBeeJJIBBABBA';
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.blue {
    font-family: 'UhBeeJJIBBABBA';
    color: #1776E1 !important;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.pink {
    font-family: 'UhBeeJJIBBABBA';
    color: #ff37ac !important;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn_wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.btn_full {
    width: 100%;
}

.btn_bl {
    background: #1776E1;
    border: 1px solid #1776E1;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    width: 180px;
    padding: 13px;
    border-radius: 6px;
}

.login_wrap_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E7EAF1;
    margin-bottom: 30px;
    letter-spacing: -0.03em;
}

.login_bottoms {
    font-size: 15px;
    font-weight: 500;
    padding: 0 12px;
}

.login_wrap_bottom_line {
    min-width: 1px;
    height: 10px;
    background-color: #666;
}

.membership {
    font-size: 15px;
    font-weight: 500;
    padding: 0 12px;
}

#contents {
    background: #F1F7FB;
    padding: 80px 0;
}

.gap30 {
    gap: 30px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

#contents .container {
    position: relative;
    margin-bottom: 0;
}

.grid .col-6 {
    width: calc(100% / 12 * 6 - 100px);
}

.item {
    background-color: #fff;
}

.container {
    position: relative;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    overflow: hidden;
    /* margin-bottom: 80px; */
}

.contents_title {
    margin-bottom: 24px;
    word-break: keep-all;
    padding-bottom: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 28px;
    color: #02346B;
    /* padding-bottom: 34px; */
    border-bottom: 2px solid #ECF0F8;
    position: relative;
    /* margin-bottom: 30px; */
}

.mobile_hidden01 {
    word-break: keep-all;
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: -0.03em;
    color: #333333;
}

.mobile_hidden {
    margin-bottom: 30px;
    margin-top: 20px;
    padding-right: 15rem;
    word-break: keep-all;
    line-height: 26px;
    letter-spacing: -0.39px;
}

.more_btn_bl {
    border: 1px solid #1776E1;
    color: #1776E1;
}

.more_btn{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 70px;
    padding: 1rem;
    width: 180px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

.contents__img {
    position: absolute;
    bottom: 30px;
    right: 45px;
    width: 260px;
    height: auto;
}

.btn_mc_more {
    position: absolute;
    padding: 0 20px;
    height: 34px;
    text-align: center;
    background: #f8f8f8;
    font-size: 14px;
    color: #4f4f4f;
    border-radius: 20px;
    display: inline-block;
    line-height: 38px;
    right: -2px;
    cursor: pointer;
}

.swiper_container4 {
    padding-top:48px;
    padding-left:8px;
    padding-right:4.8px;
    padding-bottom:4.8px;
}

.control_box01 {
    position: absolute;
    top: 111px;
    bottom: auto;
    left: auto;
    right: 41px;
    transform: none;
    border-radius: 50px;
    padding: 0.3rem;
    background-color: rgba(0, 0, 0, 0.6);
}

.swiper_button_prev {
    background: url("/img/slide_prev.png")no-repeat 100% / cover;
    width: 23px;
    height: 23px;
    position: static;
    cursor: auto;
    pointer-events: none;
    display: inline-block;
    vertical-align: bottom;
}

.swiper_pagination4 {
    display: inline-block;
    vertical-align: bottom;
}

.swiper_start_button4 {
    position: relative;
    text-indent: -9999px;
    width: 23px;
    height: 23px;
    display: none;
}

.swiper_paused_button4 {
    display: block;
    position: relative;
    text-indent: -9999px;
    width: 23px;
    height: 23px;
}

.swiper_paused_button4::before {
    content: '';
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/img/slide_pause.png") no-repeat 100% / cover;
}

.swiper_wrapper01 {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper_slide01 {
    width: 50%;
    flex-shrink: 0;
    height: auto;
    margin-right: 10px;
}

.swiper_slide01 a {
    display: block;
    width: 100%;
}

.img {
    background: url("/img/getImage\ \(1\).png");
    display: block;
    overflow: hidden;
    height: 16rem;
    background: aliceblue;
    background-size: cover !important;
    background-position: 50% !important;
    background-repeat: no-repeat;
}

.img01 {
    background: url("/img/getImage\ \(3\).png");
    display: block;
    overflow: hidden;
    height: 16rem;
    background: aliceblue;
    background-size: cover !important;
    background-position: 50% !important;
    background-repeat: no-repeat;
}

.txt {
    font-size: 12px;
    font-weight: 400;
    padding-top: 16px;
}

.swiper_slide02 {
    display: flex;
    width: 186.667px;
    margin-right: 40px;
    height: auto;
    flex-shrink: 0;
}

.swiper_slide02 a {
    display: block;
    width: 100%;
}

.img02 img {
    display: block;
    overflow: hidden;
    width: 200px;
    height: 256px;
    background: aliceblue;
    background-size: cover !important;
    background-position: 50% !important;
    background-repeat: no-repeat;
}

.img03 img {
    display: block;
    overflow: hidden;
    width: 200px;
    height: 256px;
    background: aliceblue;
    background-size: cover !important;
    background-position: 50% !important;
    background-repeat: no-repeat;
}

.img04 img {
    display: block;
    overflow: hidden;
    width: 200px;
    height: 256px;
    background: aliceblue;
    background-size: cover !important;
    background-position: 50% !important;
    background-repeat: no-repeat;
}

.select_result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select_num { 
    position: relative;
    width: 32%;
    height: 24rem;
    background: #251c32;
    padding: 1.5rem;
    color: #fff;
    border-radius: 15px;
    box-sizing: border-box;
    clip-path: border-box;
}

.select_num h5 {
    display: block;
    padding: 0 0 16px 1.8rem;
    font-size: 16px;
    font-weight: 600;
}

.select_num h5 img {
    display: block;
    position: absolute;
    top: 24px;
    left: 24px;
    width: 23px;
    height: 30px;
}

.num {
    font-size: 24px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    padding: 43.2px 24px;
    background: #276AFF;
}

.num img {
    display: block;
    position: absolute;
    bottom: -12.8px;
    right: 0;
    width: 160px;
    height: 156px;
}

.select_detail{
    position: relative;
    width: 65%;
    height: 384px;
    background: #251c32;
    padding: 24px;
    color: #fff;
    border-radius: 15px;
    box-sizing: border-box;
    clip-path: border-box;
}

.select_detail_imgs {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 100px;
}

.select_detail h5 {
    display: block;
    padding: 0 0 16px 24px;
    font-size: 16px;
    font-weight: 600;
}

.select_detail h5 img {
    display: block;
    position: absolute;
    top: 24px;
    left: 24px;
    width: 23px;
    height: 30px;
}

.grids {
    align-items: center;
    padding: .8px 16px;
    background: #1B78CD;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 51px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.grids dt {
    font-weight: 600;
    font-size: 16px;
}

.grids dd span {
    font-size: 24px;
    font-weight: 600;
}

.gridss {
    background: #CA4C3A;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 51px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    align-items: center;
    padding: .8px 16px;
}

.gridss dt {
    font-weight: 600;
    font-size: 16px;
}

.gridss dd span {
    font-size: 24px;
    font-weight: 600;
}

.contents2 {
    background: #F9FCFF;
    padding: 80px 0;
}

/* .grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
} */

.contents_titles {
    padding-bottom: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #02346B;
    border-bottom: 2px solid #ECF0F8;
    position: relative;
    margin-bottom: 30px;
}

.contents_titles::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100px;
    height: 3px;
    background-color: #1776E1;
}

.notice_top {
    display: flex;
    padding-bottom: 26px;
    border-bottom: 1px dashed #C1C7DA;
    margin-bottom: 20px;
}

.notice_date {
    background: #FFFFFF;
    border: 3px solid rgba(23, 118, 225, 0.2);
    border-radius: 12px;
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
}

.notice_date p {
    font-style: normal;
font-weight: 600;
font-size: 30.4px;       
line-height: 30px;
text-align: center;
letter-spacing: -0.48px; 
color: #1776E1;
margin-bottom: 4px;
}

.notice_date span {
    font-style: normal;
font-weight: 400;
font-size: 12.8px;         
line-height: 13px;
text-align: center;
letter-spacing: -0.384px;  
color: #1776E1;
}

.notice_top a span:nth-child(1) {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}

.notice_top a span:nth-child(2) {
    color: #777777;
    font-size: 15px;
}

.line2 {
    display: block;
}

.notice_bottom a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 8px;
}

.line1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notice_bottom a span:nth-child(2) {
    white-space: nowrap;
    margin-left: 20px;
    color: #777777;
}

.onlineCenter_box {
    position: relative;
    min-height: 200px;
    background-image: linear-gradient(to right, #76c6db 0%, #659ade 100%);
    background-repeat: no-repeat;
    box-shadow: none;
    border: 1px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 2px;
    border-radius: 14px;
}

.onlineCenter_box img {
    display: block;
    width: 20px;
    height: 20px;
}

#contents2 .more_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3rem;
    max-width: 200px;
    background: #68a3dd;
}

.more_btn_wh {
    display: block;
    position: absolute;
    top: calc(50% - 68px);
    left: 3rem;
    width: 300px;
    height: 136px;
}

.swiper_container6 {
    min-height: 200px;
    position: relative;
    padding-top: 48px;       
    padding-left: 6.4px;     
    padding-bottom: 6.4px;   
    padding-right: 6.4px;    
}

.swiper_wrapper02 {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper_slide03 {
    display: flex;
    width: 209.667px;
    height: auto;
    margin-right: 20px;
    flex-shrink: 0;
}

.swiper_link01 {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper_link01 img {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}